body {
    font-family: "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei UI", "Microsoft YaHei", "Source Han Sans", sans-serif;
    font-size: 16px;
    background-color: #F4F4F4;
    color: #444;
}

.container {
    margin: 0 auto;
    width: 90%; 
}

.syntax-block {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 4px;

    background-color: #FAFAFA;
    overflow: auto;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.125)
}

.syntax-placeholder {
    font-size: 20px;
    font-family: Monaco, 'Lucida Console', courier, monospace;
}

.update-date {
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
    color: gray;
}

.red {
    color: #F86464;
}

.blue {
    color: #47ABEB;
}

.purple {
    color: #BD95EF;
}

.green {
    color: #91C389;
}
